
body {
  margin: 0px;
  padding: 0px;
}


.debug {
  font-family: verdana;
  font-size: 8pt;
  font-weight: normal;
  background: #ccffff;
}


#bottomspacer {
  height: 120px;
}




/* login screen style */

#logindiv {
  padding-top: 100px;
}


#logintop {
  font-size: 0px;
}


#logincontent {
  width: 308px;
  padding-bottom: 16px;
  border-left: solid 1px #cccccc;
  border-right: solid 1px #cccccc;
}


#loginheading {

}


#loginmousey {
  float: left;
  padding-left: 12px;
}


#loginheadingtext {
  float: left;
  padding-left: 6px;
  padding-top: 5px;
  font-family: arial;
  font-size: 12pt;
  font-weight: bold;  
  color: #2890CD;
}


#loginspacer {
  clear: both;
  height: 11px;
  font-size: 0px;
}


#loginform {
  text-align: left;
  margin-left: 10px;
  padding-top: 1px;
}


.loginformtext {
  font-family: arial;
  font-size: 9pt;
  font-weight: normal;  
  color: #666666;
}


.loginformitem {
  height: 18px;
  width: 140px;
  padding: 2px;
  border: solid 1px #cccccc;
}


#loginerror {
  text-align: left;
  padding-left: 20px;
  padding-top: 8px;
  font-family: verdana;
  font-size: 8pt;
  font-weight: normal;  
  color: #FF0000;
}


#loginbottom {
  font-size: 0px;
}




/* signout */

#signoutmsg {
  padding-top: 150px;
  font-family: verdana;
  font-size: 9pt;
  font-weight: normal;  
  color: #000000;
}




/* administration screen style */

#pagecontainer {
  width: 100%;
}


#pageheader {
  width: 100%;
  background: #2890CD;
}


#pageheaderrow1 {
  width: 100%;
  height: 25px;
}


#userstatus {
  float: right;
  padding-top: 4px;
  padding-right: 20px;
  font-family: arial;
  font-size: 11pt;
  color: #FFFFFF;
}


#signout {
  float: right;
  padding-right: 20px;
}


#pageheaderrow2 {
  width: 100%;
  height: 16px;
  clear: both;
}


#logo {
  float: left;
  padding-left: 20px;
}


#logomenuspacer {
  float: left;
  width: 85px;
  height: 16px;
}


#mainmenu {

}


#menuoptions {

}


.menuoption {
  float: left;
  padding-right: 30px;
}


#pageheaderrow3 {
  width: 100%;
  height: 24px;
  clear: both;
}


#pagecontent {
  width: 100%;
}


#funcbar {
  width: 100%;
  height: 32px;
  background: #F0F1F5;
  border-top: 1px #e8e8ea;
  border-bottom: 1px #e8e8ea;
}


#adduser {
  float: right;
  padding-right: 20px;
}




#screenheading {
  padding-top: 20px;
  padding-left: 20px;
  font-family: arial;
  font-size: 12pt;
  font-weight: bold;
  color: #666666;
}




/* messages */

#messagecontainer {
  width: 600px;
  height: 300px;
  background: #cccccc;
  margin-top: 20px;
  margin-left: 20px;  
}


#basicmsgtext {
  padding-top: 130px;
  font-family: arial;
  font-weight: normal;
  font-size: 11pt;
  color: #333333;
}


#msgtext {
  padding-top: 100px;
  font-family: arial;
  font-weight: normal;
  font-size: 11pt;
  color: #333333;
}


#msgbuttons {
  padding-top: 10px;
}




/* common data table */

.searchtable {
  margin-top: 20px;
  margin-left: 20px
}


.searchformtext {
  font-family: arial;
  font-weight: normal;
  font-size: 9pt;
  color: #000000;
}


.searchbutton {
  padding-top: 2px;
  padding-left: 2px;
}


#searchfeedback {
  padding-left: 20px;
  padding-top: 10px;
  font-family: arial;
  font-size: 10pt;
  color: #000000;
}


.searchfeedbackbold {
  font-weight: bold;
}


#recordsfound {
  padding-left: 20px;
  padding-top: 10px; 
  font-family: arial;
  font-size: 10pt;
  color: #000000;
}


.recordsfoundbold {
  font-weight: bold;
}


.datatable {
  border: 1px solid #cccccc;
  width: 640px;
  margin-top: 5px;
  margin-bottom: 25px;
  margin-left: 20px;
}


.datatablehead {
  background: #666666;
  padding-left: 5px;
  font-family: arial;
  font-size: 10pt;
  font-weight: bold;
  color: #ffffff;
}


.datarowon {
  height: 28px;
  background: #E8E8E8;
  font-family: arial;
  font-size: 10pt;
  font-weight: normal;
  color: #000000;
}


.datarowoff {
  height: 28px;
  background: #F5F5F5;
  font-family: arial;
  font-size: 10pt;
  font-weight: normal;
  color: #000000;
}


.inactive {
  font-family: arial;
  font-size: 10pt;
  font-weight: normal;
  color: #FF0000;
}




/* paged navigation */

#pagenavcontainer {
  width: 660px;
}


#pagenavigation {
  float: right;
}


#pagenavprev {
  float:left;
  font-family: arial;
  font-size: 10pt;
  font-weight: normal;
  color: #000000;  
}


#pagenavprev a:link, #pagenavprev a:visited {
  color: #2890cd;
}


.pagenavbox {
  float: left;
  padding-left: 5px;
  font-family: arial;
  font-size: 12pt;
  font-weight: normal;
  color: #000000;
}


.pagenavbox a:link, .pagenavbox a:visited {
  text-decoration: none;
  color: #2890cd;
}


#pagenavnext {
  float: left;
  margin-left: 8px;
  font-family: arial;
  font-size: 10pt;
  font-weight: normal;
  color: #000000;  
}


#pagenavnext a:link, #pagenavnext a:visited {
  color: #2890cd;
}




/* view page */

#viewtable {
  border: 1px solid #cccccc;
  width: 640px;
  margin-left: 20px;
  margin-top: 20px;
}


.viewhead {
  font-family: arial;
  font-size: 11pt;
  font-weight: bold;
  color: #333333;
  height: 26px;
  padding-left: 5px;
  background: #E8E8E8;
}


.viewtext {
  font-family: arial;
  font-size: 11pt;
  font-weight: normal;
  color: #333333;
  background: #F5F5F5;
}


#viewcontainer {
  padding-left: 20px;
  padding-top: 25px;
}


#viewpublishdate {
  font-family: arial;
  font-size: 9pt;
  font-weight: normal;
  color: #000000;
}


#viewtitle {
  padding-top: 25px;
  font-family: arial;
  font-size: 11pt;
  font-weight: bold;
  color: #000000;
}




/* form style */

.formtable {
  width: 640px;
  padding-top: 20px;
  padding-left: 16px;
}


.formhead {
  font-family: arial;
  font-size: 11pt;
  font-weight: normal;
  color: #333333;
  background: #ffffff;
  height: 30px;  
}


.formtext {
  font-family: arial;
  font-size: 11pt;
  font-weight: normal;
  color: #000000;
  background: #ffffff;  
}


.formitem {
  font-family: arial;
  font-size: 11pt;
  font-weight: normal;
  color: #000000;  
}


.formspacer {
  height: 10px;
}


#formerror {
  padding-bottom: 15px;
  font-family: arial;
  font-size: 12pt;
  font-weight: normal;
  color: #ff0000;
}




/* releases searchbar */

#searchbar  {
  padding-top: 20px;
  padding-left: 20px;
}


.searchfieldshead {
  font-family: arial;
  font-size: 9pt;
  font-weight: normal;
  color: #333333;
}



/* general */

#imagegridcontainer {

}


#imagegrid {
  margin-left: 20px;
  margin-top: 20px;
}


#imagegridtable {
  
}


.gridcell {
  padding: 3px;
  border: solid 1px #cccccc;
}


.gridactions {
  font-family: arial;
  font-size: 9pt;
  font-weight: normal;
  color: #2890cd;
}


.gridactions a:link, .gridactions a:visited {
  color: #2890cd;
}


.gridpublishdate {
  font-family: arial;
  font-size: 9pt;
  font-weight: normal;
  color: #99ccff;
}


.gridtitle {
  font-family: arial;
  font-size: 9pt;
  font-weight: bold;
  color: #000000;
}


.gridphotographer {
  font-family: verdana;
  font-size: 8pt;
  font-weight: normal;
  color: #666666;
}


.gridfilename {
  font-family: verdana;
  font-size: 8pt;
  font-weight: normal;
  color: #666666;
}


.gridcaption {
  font-family: verdana;
  font-size: 8pt;
  font-weight: normal;
  color: #000000;
}










