
#igcontainer {
  padding-left: 20px;
  width: 640px;
}


#bottomspacer {
  height: 120px;
}




/* search form */

.searchtable {
  margin-top: 20px;
  background: #efefef;
  border: solid 1px #cccccc;
  width: 640px;
}


#searchtitle {
  padding-top: 2px;
  padding-left: 2px;
  font-family: arial;
  font-size: 10pt;
  font-weight: bold;
  color: #000000;
}


#searchfields {

}


.searchfieldshead {
  font-family: verdana;
  font-size: 8pt;
  font-weight: normal;
  color: #666666;
}

#searcharchives {
  height: 20px;
  background: #cccccc;
  padding-left: 4px;
  padding-top: 4px;
  font-family: arial;
  font-size: 10pt;
  font-weight: normal;
  color: #000000;
}

#searcharchives a:link, #searcharchives a:visited {
  text-decoration: none;
  color: #000000;
}




/* result status */

#searchfeedback {
  margin-top: 10px;
  font-family: arial;
  font-size: 9pt;
  font-weight: normal;
  color: #000000;
}


.searchfeedbackbold {
  font-family: arial;
  font-size: 9pt;
  font-weight: bold;
  color: #000000;
}


#recordsfound {
  padding-top: 10px;
  font-family: arial;
  font-size: 9pt;
  font-weight: normal;
  color: #000000;
}


.recordsfoundbold {
  font-weight: bold;
}

#norecordsfound {
  padding-top: 15px;
  font-family: arial;
  font-size: 10pt;
  font-weight: normal;
  color: #FF0000;
}




/* result listings */

#igcontainer {

}


#imagegrid {

}


#imagegridtable {
  
}


.gridcell {
  padding: 3px;
  border: solid 1px #cccccc;
}


.gridpublishdate {
  font-family: arial;
  font-size: 9pt;
  font-weight: normal;
  color: #99ccff;
}


.gridtitle {
  font-family: arial;
  font-size: 9pt;
  font-weight: bold;
  color: #000000;
}


.gridphotographer {
  font-family: verdana;
  font-size: 8pt;
  font-weight: normal;
  color: #666666;
}


.gridfilename {
  font-family: verdana;
  font-size: 8pt;
  font-weight: normal;
  color: #666666;
}


.gridcaption {
  font-family: verdana;
  font-size: 8pt;
  font-weight: normal;
  color: #000000;
}




/* view release */

#viewresult {
  width: 640px;
}


#backcontainer {
  width: 640px;
}


#backlink {
  float: right;
  font-family: arial;
  font-size: 9pt;
  font-weight: normal;
  color: #000000;  
}


#backlink a:link, #backlink a:visited {
  color: #2890cd;
}


#viewdate {
  clear: both;
  padding-top: 5px;
  font-family: arial;
  font-size: 9pt;
  font-weight: normal;
  color: #666666;
}


#viewtitle {
  margin-top: 18px;
  font-family: arial;
  font-size: 11pt;
  font-weight: bold;
  color: #000000;
}


#viewphotographer {
  margin-top: 10px;
  font-family: arial;
  font-size: 10pt;
  font-weight: normal;
  color: #666666;
}


.viewphotographerhead {
  font-family: arial;
  font-size: 10pt;
  font-weight: normal;
  color: #333333;
}


#viewfullsizeimage {
  margin-top: 25px;
}


#viewcaption {
  margin-top: 22px;
  font-family: arial;
  font-size: 10pt;
  font-weight: normal;
  color: #000000;
}


#viewkeywordtags {
  margin-top: 22px;
  font-family: arial;
  font-size: 10pt;
  font-weight: normal;
  color: #333333;
}


#viewkeywordtags a:link, #viewkeywordtags a:visited {
  text-decoration: none;
  color: #2890cd;
}




/* paged navigation */

#pagenavcontainer {
  width: 640px;
}


#pagenavigation {
  float: right;
}


#pagenavprev {
  float:left;
  font-family: arial;
  font-size: 10pt;
  font-weight: normal;
  color: #000000;  
}


#pagenavprev a:link, #pagenavprev a:visited {
  color: #2890cd;
}


.pagenavbox {
  float: left;
  padding-left: 5px;
  font-family: arial;
  font-size: 12pt;
  font-weight: normal;
  color: #000000;
}


.pagenavbox a:link, .pagenavbox a:visited {
  text-decoration: none;
  color: #2890cd;
}


#pagenavnext {
  float: left;
  margin-left: 8px;
  font-family: arial;
  font-size: 10pt;
  font-weight: normal;
  color: #000000;  
}


#pagenavnext a:link, #pagenavnext a:visited {
  color: #2890cd;
}


