
.frame img {
    width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
}
.frame {
    padding: 4px !important;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 2px;
    box-shadow: 0 0 1px #ccc;
    margin: 10px auto;
}
#thumbs {
    margin: 0 7px 0 -8px;
}
#sliderFrame {
}
.img_hover {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    color: #fff;
    font-weight: 500;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 0 #000;
    top: -55px;
}
#thumbs .thumb.active, #thumbs .thumb:hover {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 2px #fff;
}
.slider_img.active {
    display: block;
}
.slider_img img {
    margin: 0 auto !important;
    max-height: 100%;
    max-width: 100%;
    min-height: 90%;
    min-width: 90%;
}
.slider_img {
    display: none;
    padding: 0 12px 0 0 !important;
}
#thumbs {
    background: rgb(231, 231, 231) none repeat scroll 0 0 !important;
    padding: 0;
}
#thumbs {
    background: rgb(231, 231, 231) none repeat scroll 0 0 !important;
}
#sliderFrame {
    border: 1px inset #000;
    box-shadow: 0 0 3px #999;
    padding: 0 !important;
    overflow: hidden;
}
#thumbs .thumb {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fff #ccc #ccc;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    /* box-shadow: 0 0 2px #ccc;*/
    cursor: pointer;
    margin: 0;
}
.slider_img, #sliderFrame, #slider, .slider_img img {
    max-height: 100%;
    max-width: 100%;
    padding: 0;
}
.thumb-content {
    text-align: right;
    color: #666;
    text-shadow: 0px 0px 0px #BBB;
}
.thumb-content p {
    color: rgb(192,93,135);
}
#thumbs .thumb.active .thumb-content p , #thumbs .thumb:hover .thumb-content p {
    color: rgb(187,0,0);
}
